# Ignorar exe en general
*.exe

# PERMITIR binarios necesarios
!7za.exe
!ARJ.EXE
!ARJ32.exe

# Backups y versiones antiguas del script
*.bak_*
*.backup
*.ps1_
*.ps1~

# Carpetas
logs/
.vscode/
.cursor/

# Archivos de ayuda
*.code-workspace