# Ejecutables de utilidades antiguas (DOS/Windows)
7za.exe
arj.exe
arj32.exe
ask.exe

# Archivos de imagen y recursos
*.png
*.bmp
*.jpg
earthbl2.bpm
earthbl2.png
llevarbienascci.png

# Backups y versiones antiguas del script
*.bak_*
*.backup
*.ps1_
*.ps1~
llevar2.ps1_
llevar2.ps1_
llevar.ps1.backup2
llevar.ps1.backup
llevar.ps1_
test_output.txt


# Carpetas
alex-cool/
logs/
.vs/
bin/
obj/
Llevar/
.vscode/
Duke_3D/



# Archivos de ayuda
7-zip.chm
license.txt
*.code-workspace